{% extends "site_analytics/base.html" %}

{% load staticfiles %}

{% block content %}
	<link rel="stylesheet" href="{% static "admin/css/forms.css" %}" />
	<form action="" method="get">
		{{ form.as_p }}
		<input type="submit" />
	</form>
	{% if show_data %}
		<p>
		<table>
			<caption>Matching requests</caption>
			<tr><th>URL<th>Timestamp<th>Other data
			{% for obj in filter %}
				<tr><td>{{ obj.url }}<td>{{ obj.timestamp }}<td>{{ obj.data|pprint }}
			{% endfor %}
		</table>
	{% endif %}
{% endblock %}
